version: "3.9"

services:
  db:
    image: postgres:14
    container_name: gorilladesk-postgres
    environment:
      POSTGRES_DB: gorilladesk
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: {}

